<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmployeeList</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

            <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js
"></script>


</head>

<script>

var data = {{allEmployee|tojson}};
data = JSON.stringify(data);
data = data.replace(/\n/g, '');
data = data.replace(/\\/g, '');
data = data.replace(/\["/g, '[');
data = data.replace(/\"]/g, ']');
data = data.replace(/\}"/g, '}');
data = data.replace(/\"{/g, '{');
//data = JSON.parse(data);
//data = JSON.stringify(data);
console.log(data);



    $(document).ready(function () {
        $('#list').DataTable({
            "data": data,

            "columns": [
                {"title": "id"},
                {"title": "name"},
                {"title": "department"},
                {"title": "salary"}
            ]
        });
    });




</script>

<body>
<div class="container">
    <h1> All Employee List</h1>

    <table class='table' id='list' style="width:100%">

        <thead>
        <tr>


        </tr>
        </thead>

    </table>
</div>
</body>
</html>